/* ------------------------------------------------------------
   Base
------------------------------------------------------------ */

body {
    font-family: system-ui, sans-serif;
    line-height: 1.6;
    max-width: 80%;
    margin: 2rem auto;
    padding: 0 1rem;
    background-color: #111323;
    color: #d7caeb;
    font-family: Vazirmatn;
}


/* ------------------------------------------------------------
   Headings
------------------------------------------------------------ */

h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 1.25;
    margin-top: 2em;
    margin-bottom: 0.5em;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.6em;
}

h3 {
    font-size: 1.3em;
}


/* ------------------------------------------------------------
   Text
------------------------------------------------------------ */

p {
    margin: 1em 0;
}

p>code {
    font-family: 'FiraCode Nerd Font Mono';
    font-size: 100%;
    color: bisque;
    padding: 0.2em 0.1em;
}


/* ------------------------------------------------------------
   Lists
------------------------------------------------------------ */

ul,
ol {
    margin: 1em 0 1em 0.5em;
    font-family: sans-serif;
}

li {
    margin: 0.3em 0;
}


/* ------------------------------------------------------------
   Links
------------------------------------------------------------ */

a {
    color: #5294d6;
    text-decoration: none;
}

a:visited {
    color: #5294d6;
}

a:hover {
    color: #c073aa;
    text-decoration: underline;
}